In [1]:
import pandas as pd
import numpy as np
import category_encoders as ce

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from dmba import regressionSummary

from sklearn.neural_network import MLPRegressor

no display found. Using non-interactive Agg backend

### Training

In [2]:
training_df = pd.read_csv('train.csv')
training_df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [3]:
for c in training_df.columns:
    print(c)
    print(training_df[c].describe())
    print()

User_ID
count    5.500680e+05
mean     1.003029e+06
std      1.727592e+03
min      1.000001e+06
25%      1.001516e+06
50%      1.003077e+06
75%      1.004478e+06
max      1.006040e+06
Name: User_ID, dtype: float64

Product_ID
count        550068
unique         3631
top       P00265242
freq           1880
Name: Product_ID, dtype: object

Gender
count     550068
unique         2
top            M
freq      414259
Name: Gender, dtype: object

Age
count     550068
unique         7
top        26-35
freq      219587
Name: Age, dtype: object

Occupation
count    550068.000000
mean          8.076707
std           6.522660
min           0.000000
25%           2.000000
50%           7.000000
75%          14.000000
max          20.000000
Name: Occupation, dtype: float64

City_Category
count     550068
unique         3
top            B
freq      231173
Name: City_Category, dtype: object

Stay_In_Current_City_Years
count     550068
unique         5
top            1
freq      193821
Name: Stay_In_Current_City_Years, dtype: object

Marital_Status
count    550068.000000
mean          0.409653
std           0.491770
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: Marital_Status, dtype: float64

Product_Category_1
count    550068.000000
mean          5.404270
std           3.936211
min           1.000000
25%           1.000000
50%           5.000000
75%           8.000000
max          20.000000
Name: Product_Category_1, dtype: float64

Product_Category_2
count    376430.000000
mean          9.842329
std           5.086590
min           2.000000
25%           5.000000
50%           9.000000
75%          15.000000
max          18.000000
Name: Product_Category_2, dtype: float64

Product_Category_3
count    166821.000000
mean         12.668243
std           4.125338
min           3.000000
25%           9.000000
50%          14.000000
75%          16.000000
max          18.000000
Name: Product_Category_3, dtype: float64

Purchase
count    550068.000000
mean       9263.968713
std        5023.065394
min          12.000000
25%        5823.000000
50%        8047.000000
75%       12054.000000
max       23961.000000
Name: Purchase, dtype: float64

In [4]:
training_df['Product_ID'] = training_df['Product_ID'].astype('category')
training_df['Gender'] = training_df['Gender'].astype('category')
training_df['Age'] = training_df['Age'].astype('category')
training_df['City_Category'] = training_df['City_Category'].astype('category')
training_df['Stay_In_Current_City_Years'] = training_df['Stay_In_Current_City_Years'].astype('category')

In [5]:
base_encoder = ce.BaseNEncoder(cols=['Product_ID','Occupation','Product_Category_1',
                                           'Product_Category_2','Product_Category_3']
                                     ,return_df=True,base=16)
training_df = base_encoder.fit_transform(training_df)

training_df = pd.get_dummies(training_df, columns=['Gender','Age','City_Category','Stay_In_Current_City_Years'],
                            prefix_sep='_', drop_first=True)

In [6]:
predicotrs = list(training_df.columns)
predicotrs.remove('Purchase')
predicotrs.remove('User_ID')
print('Predictors:')
print(predicotrs)
print()
print('Outcome:')
print('Purchase')

Predictors:
['Product_ID_0', 'Product_ID_1', 'Product_ID_2', 'Occupation_0', 'Occupation_1', 'Marital_Status', 'Product_Category_1_0', 'Product_Category_1_1', 'Product_Category_2_0', 'Product_Category_2_1', 'Product_Category_3_0', 'Product_Category_3_1', 'Gender_M', 'Age_18-25', 'Age_26-35', 'Age_36-45', 'Age_46-50', 'Age_51-55', 'Age_55+', 'City_Category_B', 'City_Category_C', 'Stay_In_Current_City_Years_1', 'Stay_In_Current_City_Years_2', 'Stay_In_Current_City_Years_3', 'Stay_In_Current_City_Years_4+']

Outcome:
Purchase

In [7]:
y = training_df['Purchase']
x = training_df[predicotrs]

In [8]:
x

,Product_ID_0,Product_ID_1,Product_ID_2,Occupation_0,Occupation_1,Marital_Status,Product_Category_1_0,Product_Category_1_1,Product_Category_2_0,Product_Category_2_1,...,Age_36-45,Age_46-50,Age_51-55,Age_55+,City_Category_B,City_Category_C,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4+
0,0,0,1,0,1,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,0
1,0,0,2,0,1,0,0,2,0,2,...,0,0,0,0,0,0,0,1,0,0
2,0,0,3,0,1,0,0,3,0,1,...,0,0,0,0,0,0,0,1,0,0
3,0,0,4,0,1,0,0,3,0,3,...,0,0,0,0,0,0,0,1,0,0
4,0,0,5,0,2,0,0,4,0,1,...,0,0,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550063,14,2,12,1,4,1,1,3,0,1,...,0,0,1,0,1,0,1,0,0,0
550064,14,2,11,0,7,0,1,3,0,1,...,0,0,0,0,0,1,0,0,1,0
550065,14,2,11,0,3,1,1,3,0,1,...,0,0,0,0,1,0,0,0,0,1
550066,14,2,11,0,7,0,1,3,0,1,...,0,0,0,1,0,1,0,1,0,0
550067,14,2,14,0,10,1,1,3,0,1,...,0,1,0,0,1,0,0,0,0,1

In [9]:
y

0          8370
1         15200
2          1422
3          1057
4          7969
          ...
550063      368
550064      371
550065      137
550066      365
550067      490
Name: Purchase, Length: 550068, dtype: int64

In [10]:
x_train, x_valid, y_train, y_valid = train_test_split(x, y, test_size=0.4, random_state=1)

#### Linear Regression

In [11]:
lr = LinearRegression()
lr.fit(x_train,y_train)

print('Linear Regression Model Parameters')
print()
print('Intercept: ',np.round(lr.intercept_, 2))
print()
print(
    pd.DataFrame({
        'Predictor': x.columns,
        'Coefficient': np.round(lr.coef_, 2)
    })
)

Linear Regression Model Parameters

Intercept:  8994.81

                        Predictor  Coefficient
0                    Product_ID_0      -341.68
1                    Product_ID_1        -6.37
2                    Product_ID_2       -42.26
3                    Occupation_0        18.29
4                    Occupation_1        -1.76
5                  Marital_Status       -60.21
6            Product_Category_1_0      3439.83
7            Product_Category_1_1      -148.59
8            Product_Category_2_0       234.87
9            Product_Category_2_1        87.31
10           Product_Category_3_0      4783.87
11           Product_Category_3_1       311.32
12                       Gender_M       539.41
13                      Age_18-25       320.15
14                      Age_26-35       499.44
15                      Age_36-45       565.81
16                      Age_46-50       539.61
17                      Age_51-55       840.75
18                        Age_55+       592.98
19                City_Category_B       110.19
20                City_Category_C       489.81
21   Stay_In_Current_City_Years_1        45.55
22   Stay_In_Current_City_Years_2        55.62
23   Stay_In_Current_City_Years_3        41.78
24  Stay_In_Current_City_Years_4+        56.70

In [12]:
lr_pred = lr.predict(x_valid)

print(round(pd.DataFrame({
    'Actual': y_valid,
    'Predicted': lr_pred,
    'Residual': y_valid-lr_pred
})))

        Actual  Predicted  Residual
470060    8013     9901.0   -1888.0
395974    2769    12112.0   -9343.0
14234     5952     8535.0   -2583.0
72183     9914     8575.0    1339.0
272536   15472    11364.0    4108.0
...        ...        ...       ...
100868    1042     6173.0   -5131.0
527216    4041     9045.0   -5004.0
223234    9925     8074.0    1851.0
178866   15682    12251.0    3431.0
13423     7100     8498.0   -1398.0

[220028 rows x 3 columns]

In [13]:
lr_pred_train = lr.predict(x_train)

print('Accuracy for Training Data')
print()
regressionSummary(y_train,lr_pred_train)

print('Accuracy for Testing Data')
print()
regressionSummary(y_valid,lr_pred)

Accuracy for Training Data


Regression statistics

                      Mean Error (ME) : 0.0000
       Root Mean Squared Error (RMSE) : 4659.4065
            Mean Absolute Error (MAE) : 3624.8713
          Mean Percentage Error (MPE) : -144.4536
Mean Absolute Percentage Error (MAPE) : 167.6113
Accuracy for Testing Data


Regression statistics

                      Mean Error (ME) : 2.7776
       Root Mean Squared Error (RMSE) : 4663.9709
            Mean Absolute Error (MAE) : 3626.6151
          Mean Percentage Error (MPE) : -143.0260
Mean Absolute Percentage Error (MAPE) : 166.2080

#### Neural Network

In [14]:
nn = MLPRegressor(hidden_layer_sizes=(10), 
                solver='lbfgs', max_iter=10000, random_state=1)
nn.fit(x_train,y_train)

print('Model Intercept: ', nn.intercepts_)
print()
print('Model Coeficients: ', nn.coefs_)

Model Intercept:  [array([ 1.41657012e+01,  1.20815516e+02,  2.32667041e-01,  2.59952011e+02,
       -2.41999882e+01, -4.24281531e-01,  5.62441104e+01, -2.32258344e+01,
       -2.87885377e+01, -1.25198467e-01]), array([13.89344582])]

Model Coeficients:  [array([[-2.36743252e+01,  1.23451281e+02, -7.55831024e-01,
        -2.20756352e+00,  1.18275332e+02, -1.71322639e+00,
        -2.00337734e+01,  6.15917145e+00,  1.32651960e+01,
        -5.94266838e-01],
       [ 2.31070656e+01,  2.29903994e+01, -1.92070295e+00,
        -5.87064295e-01,  2.42744190e+01, -5.20341480e+00,
         1.56483905e+01, -6.85325433e+01, -7.94350944e+01,
        -1.28696917e+00],
       [-7.02999060e+00,  4.36573238e+01, -4.59627155e-01,
         1.15998258e+00,  1.89390197e+01, -6.16707555e+00,
         1.85346803e+01,  1.59293343e+00,  3.33315813e+00,
        -1.69191455e+00],
       [ 4.13884505e+00,  1.65507425e+01,  5.72099568e-01,
         6.23467505e-02,  5.17046041e-02, -2.81954329e-01,
         1.87256937e+01,  4.80280432e-01, -1.57916219e-02,
         1.46992024e-01],
       [ 2.32636530e-01,  1.54822588e+01,  4.17622765e-02,
        -3.92436296e-02, -2.31387191e-01, -4.75924834e+00,
         1.59062682e+01,  1.61106045e-02, -7.21525861e-03,
        -1.26588433e+00],
       [-4.61093739e+00,  8.57092872e+00, -1.13350260e-01,
        -9.14099811e-01, -1.16906982e+00, -6.39889785e-01,
         7.53991842e+00,  1.56147652e-02,  8.19555173e-01,
         7.84581096e-02],
       [ 6.01848847e+01, -6.70434930e+00,  2.00732436e-01,
         1.98974859e+01,  9.02072326e+00,  8.40996740e-03,
         1.58708284e+01, -2.52996489e+01,  6.91380376e+01,
         6.83185385e-02],
       [-3.23220672e+00,  3.58499390e+01, -7.60807663e-01,
        -5.35676854e+01, -2.17760492e+01, -2.69801333e+00,
         4.13666869e+01,  6.96968121e+01,  7.43342545e+01,
        -8.46699886e-01],
       [-4.63222796e+01,  8.82871760e+00,  2.32777021e-01,
        -4.94266184e+00, -1.58475080e+01,  3.03067961e-01,
        -8.70817061e+00, -6.23587423e+01, -5.00366823e+01,
         9.67248962e-02],
       [ 1.15297440e+01,  7.89028627e+00, -6.60412389e-01,
        -7.38745480e+00, -1.03934523e+00, -3.28643738e+00,
         1.40026362e+01, -2.81449473e+01, -3.26529747e+01,
        -8.58471806e-01],
       [-4.53584883e+01,  8.19135521e+01,  3.19590420e-01,
         3.18148950e+00, -1.35542889e+01,  1.01415460e-01,
        -2.39802548e+01,  1.80493322e+01, -2.62029728e+01,
         4.10454312e-01],
       [ 2.30270747e+01,  8.46939249e-01, -1.69055027e-01,
         9.38662893e-01, -5.76063919e+00, -2.41111212e+00,
         2.68956597e+01,  9.43511902e+00,  5.94538022e+00,
        -7.00143391e-01],
       [ 1.15171051e+01,  2.60414344e+01, -9.97987049e-02,
         6.32520103e+00,  2.45133421e+00, -5.07081537e-01,
         3.11001768e+01,  1.36289535e-01,  1.65808265e+00,
        -3.30016100e-01],
       [ 4.81407436e+00,  1.00793178e+01,  6.11097229e-02,
        -2.50052658e+00,  5.11033305e+00, -3.45306602e-01,
        -5.43321427e+00, -8.70302113e-01,  2.78861315e-01,
         1.77273464e-01],
       [ 2.85752489e+00,  2.09542996e+01, -2.58001366e-01,
        -1.55700574e+00,  3.93765837e-01, -5.92794694e-01,
         6.13795874e+00, -8.07129029e-01, -1.47329446e-01,
        -4.69618234e-01],
       [-1.72131677e+00,  1.47353518e+01,  1.51861986e-01,
        -1.50535591e+00, -1.42656152e+01,  4.98689994e-02,
         1.08708969e+01, -1.16917260e+00,  1.14699292e-01,
         2.37237822e-01],
       [-4.67084224e+00,  8.61771186e+00,  1.34877765e-01,
        -3.55435209e+00, -1.97392941e+01, -4.49818632e-01,
         5.56013462e+00, -1.31012855e+00,  8.98039313e-01,
         3.79499817e-02],
       [-4.76606570e+00,  1.90802701e+01,  1.06577455e-01,
        -4.18847942e+00, -1.98277033e+01,  1.50948124e-01,
         7.90011793e+00, -1.61115048e+00,  5.46496827e-01,
        -1.23485471e-01],
       [-1.00276097e+01,  8.01528465e+00,  2.36565338e-01,
        -7.64794684e+00, -3.72851305e+01,  2.23379096e-01,
         1.21804482e+01, -1.57458439e+00,  1.29797527e+00,
         3.40481338e-01],
       [ 5.13624502e+00,  9.22196151e+00,  2.72707150e-01,
         3.51361355e+00, -8.05543083e-01,  5.76654525e-02,
         1.35984641e+01,  2.00221013e-01,  4.12482158e-01,
         2.87012653e-01],
       [ 1.01627958e+01,  2.16350414e+01,  5.65526790e-01,
         8.01732789e+00,  8.88781477e-01, -2.41266373e-01,
         2.11623866e+01,  4.16492407e-01, -3.42772055e-02,
         2.79293815e-01],
       [ 5.19820973e+00,  1.00479737e+01, -1.71309458e-01,
         1.24032717e-01,  5.85335615e-02, -2.35529134e-01,
         1.22408336e+01,  8.30098935e-01,  6.63780891e-01,
        -4.61785001e-01],
       [ 6.29170732e+00,  4.20239819e+00, -2.51054673e-01,
         1.53300011e+00, -1.05136587e+00,  2.26371463e-01,
         8.81899209e+00,  7.00034705e-01,  1.15894273e+00,
         2.96012944e-01],
       [ 2.35279298e+00,  5.98012487e+00,  3.17638186e-01,
        -1.77208030e+00, -2.78733771e+00, -3.94407801e-02,
         7.29863413e+00,  3.26310747e-01,  1.21726220e+00,
         2.17123127e-01],
       [ 4.72120032e+00,  3.70625377e+00,  1.28872809e-01,
         1.67958337e+00, -4.70822881e-01, -1.42831337e-02,
         7.27141016e+00,  3.02572892e-01,  7.66410274e-01,
         3.13186815e-01]]), array([[ 28.37495333],
       [ 33.58897293],
       [  0.54502828],
       [ 57.80880133],
       [-36.74230471],
       [  5.8858718 ],
       [-33.70129366],
       [ 83.06840166],
       [-79.18300448],
       [  2.42690919]])]

In [15]:
nn_pred = nn.predict(x_valid)

print(round(pd.DataFrame({
    'Actual': y_valid,
    'Predicted': nn_pred,
    'Residual': y_valid-nn_pred
})))

        Actual  Predicted  Residual
470060    8013     8654.0    -641.0
395974    2769     8481.0   -5712.0
14234     5952     7174.0   -1222.0
72183     9914     7887.0    2027.0
272536   15472    11579.0    3893.0
...        ...        ...       ...
100868    1042     9736.0   -8694.0
527216    4041     8205.0   -4164.0
223234    9925     7669.0    2256.0
178866   15682    16065.0    -383.0
13423     7100     6437.0     663.0

[220028 rows x 3 columns]

In [16]:
nn_pred_train = nn.predict(x_train)

print('Accuracy for Training Data')
print()
regressionSummary(y_train,nn_pred_train)

print('Accuracy for Testing Data')
print()
regressionSummary(y_valid,nn_pred)

Accuracy for Training Data


Regression statistics

                      Mean Error (ME) : 0.1410
       Root Mean Squared Error (RMSE) : 3902.8443
            Mean Absolute Error (MAE) : 2962.6778
          Mean Percentage Error (MPE) : -31.0287
Mean Absolute Percentage Error (MAPE) : 79.5250
Accuracy for Testing Data


Regression statistics

                      Mean Error (ME) : 5.6510
       Root Mean Squared Error (RMSE) : 3901.5870
            Mean Absolute Error (MAE) : 2958.2272
          Mean Percentage Error (MPE) : -31.2614
Mean Absolute Percentage Error (MAPE) : 79.3342

### Testing

In [17]:
testing_df = pd.read_csv('test.csv')
testing_df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0

In [18]:
for c in testing_df.columns:
    print(c)
    print(testing_df[c].describe())
    print()

User_ID
count    2.335990e+05
mean     1.003029e+06
std      1.726505e+03
min      1.000001e+06
25%      1.001527e+06
50%      1.003070e+06
75%      1.004477e+06
max      1.006040e+06
Name: User_ID, dtype: float64

Product_ID
count        233599
unique         3491
top       P00265242
freq            829
Name: Product_ID, dtype: object

Gender
count     233599
unique         2
top            M
freq      175772
Name: Gender, dtype: object

Age
count     233599
unique         7
top        26-35
freq       93428
Name: Age, dtype: object

Occupation
count    233599.000000
mean          8.085407
std           6.521146
min           0.000000
25%           2.000000
50%           7.000000
75%          14.000000
max          20.000000
Name: Occupation, dtype: float64

City_Category
count     233599
unique         3
top            B
freq       98566
Name: City_Category, dtype: object

Stay_In_Current_City_Years
count     233599
unique         5
top            1
freq       82604
Name: Stay_In_Current_City_Years, dtype: object

Marital_Status
count    233599.000000
mean          0.410070
std           0.491847
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: Marital_Status, dtype: float64

Product_Category_1
count    233599.000000
mean          5.276542
std           3.736380
min           1.000000
25%           1.000000
50%           5.000000
75%           8.000000
max          18.000000
Name: Product_Category_1, dtype: float64

Product_Category_2
count    161255.000000
mean          9.849586
std           5.094943
min           2.000000
25%           5.000000
50%           9.000000
75%          15.000000
max          18.000000
Name: Product_Category_2, dtype: float64

Product_Category_3
count    71037.000000
mean        12.669454
std          4.125944
min          3.000000
25%          9.000000
50%         14.000000
75%         16.000000
max         18.000000
Name: Product_Category_3, dtype: float64

In [19]:
testing_df['Product_ID'] = testing_df['Product_ID'].astype('category')
testing_df['Gender'] = testing_df['Gender'].astype('category')
testing_df['Age'] = testing_df['Age'].astype('category')
testing_df['City_Category'] = testing_df['City_Category'].astype('category')
testing_df['Stay_In_Current_City_Years'] = testing_df['Stay_In_Current_City_Years'].astype('category')

In [20]:
base_encoder_test = ce.BaseNEncoder(cols=['Product_ID','Occupation','Product_Category_1',
                                           'Product_Category_2','Product_Category_3']
                                     ,return_df=True,base=16)
testing_df_encoded = base_encoder.fit_transform(testing_df)

testing_df_encoded = pd.get_dummies(testing_df_encoded, columns=['Gender','Age','City_Category','Stay_In_Current_City_Years'],
                            prefix_sep='_', drop_first=True)

In [21]:
test_predictors = list(testing_df_encoded.columns)
test_predictors.remove('User_ID')
test_x = testing_df_encoded[test_predictors]
test_x

,Product_ID_0,Product_ID_1,Product_ID_2,Occupation_0,Occupation_1,Marital_Status,Product_Category_1_0,Product_Category_1_1,Product_Category_2_0,Product_Category_2_1,...,Age_36-45,Age_46-50,Age_51-55,Age_55+,City_Category_B,City_Category_C,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4+
0,0,0,1,0,1,1,0,1,0,1,...,0,1,0,0,1,0,0,1,0,0
1,0,0,2,0,2,0,0,2,0,2,...,0,0,0,0,0,1,0,0,0,0
2,0,0,3,0,3,1,0,3,0,3,...,1,0,0,0,1,0,0,0,0,1
3,0,0,4,0,3,1,0,4,0,4,...,1,0,0,0,1,0,0,0,0,1
4,0,0,5,0,3,0,0,4,0,2,...,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233594,9,4,11,0,4,1,0,9,0,9,...,0,0,0,0,1,0,0,0,0,1
233595,5,12,14,0,4,1,0,3,0,10,...,0,0,0,0,1,0,0,0,0,1
233596,2,5,11,0,4,1,0,1,0,2,...,0,0,0,0,1,0,0,0,0,1
233597,1,4,14,0,3,0,0,6,0,14,...,0,1,0,0,0,1,0,0,0,1
233598,4,2,5,0,6,1,0,4,0,2,...,0,1,0,0,1,0,0,0,0,1

#### Linear Regression

In [22]:
lr_purchase_prediction = lr.predict(test_x)

output_df = pd.DataFrame({
    'Purchase': lr_purchase_prediction,
    'User_ID': testing_df['User_ID'],
    'Product_ID': testing_df['Product_ID']
})

output_df

            Purchase  User_ID Product_ID
0       10385.446164  1000004  P00128942
1       10624.184124  1000009  P00113442
2        9662.691230  1000010  P00288442
3        9559.145955  1000010  P00145342
4       10015.903399  1000011  P00053842
...              ...      ...        ...
233594   5788.203382  1006036  P00118942
233595   7956.006075  1006036  P00254642
233596   9062.447991  1006036  P00031842
233597   9758.900753  1006037  P00124742
233598   7931.337566  1006039  P00316642

[233599 rows x 3 columns]

#### Neural Network

In [23]:
nn_purchase_prediction = nn.predict(test_x)

output_df = pd.DataFrame({
    'Purchase': nn_purchase_prediction,
    'User_ID': testing_df['User_ID'],
    'Product_ID': testing_df['Product_ID']
})

output_df

            Purchase  User_ID Product_ID
0       15164.324703  1000004  P00128942
1       13801.254204  1000009  P00113442
2        9133.143964  1000010  P00288442
3        6176.948531  1000010  P00145342
4        8414.809033  1000011  P00053842
...              ...      ...        ...
233594   7933.403551  1006036  P00118942
233595   7095.612506  1006036  P00254642
233596  15548.969250  1006036  P00031842
233597   8864.418408  1006037  P00124742
233598   6975.213460  1006039  P00316642

[233599 rows x 3 columns]

In [24]:
output_df.to_csv('purchase_value_prediction_nn.csv',encoding='utf-8')